/ {
    dht0: dht_0 {
        status = "okay";
        compatible = "aosong,dht";
        dio-gpios = <&gpio0 28 GPIO_ACTIVE_LOW>;
        dht22;
    };

    zephyr,user {
        io-channels = <&adc 0>;
    };

    aliases {
             pump0 = &mypump0;
     };

     pumps {
             compatible = "gpio-leds";
             mypump0: pump_0 {
                     gpios = <&gpio1 8 GPIO_ACTIVE_HIGH>;
             };
     };

};

&adc {
    #address-cells = <1>;
    #size-cells = <0>;
    status = "okay";
    channel@0 {
        reg = <0>;
        zephyr,gain = "ADC_GAIN_1_5";
        zephyr,reference = "ADC_REF_INTERNAL";
        zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
        zephyr,input-positive = <NRF_SAADC_AIN0>; /* P0.02 for nRF52xx, P0.04 for nRF5340 */
        zephyr,resolution = <12>;
    };
};